.navbar {
    @include flexcolumn;
    background-color: $trxgreybrown;
    justify-content: center;
    height: 69px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

    &.display {
        pointer-events: all;
        opacity: 1;
        transition: opacity 0.2s;
    }

    nav {
        box-sizing: border-box;
        padding: 0 1em;
        width: 100%;
        max-width: 1366px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;

        h1 {
            font-size: 31px;
        }

        .nav-menu {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 600;
            max-width: 598px;
            width: 100%;

            @media (hover: hover) {
                a:hover {
                    color: $yellow;
                }
            }

            button {
                border: 2px solid white;
                padding: 1em 3em;
                border-radius: 10px;
                text-transform: uppercase;

                @media (hover: hover) {
                    &:hover {
                        background-color: $yellow;
                    }
                }
            }
        }
    }
}
