@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: initial;
  overflow: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Arial Rounded MT Bold";
  letter-spacing: -0.009em;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 24px;
}

img {
  height: 100%;
}

.svg-icon {
  width: 2em;
  fill: white;
  -webkit-filter: drop-shadow(2px 2px 0px #a8aaa9);
          filter: drop-shadow(2px 2px 0px #a8aaa9);
}

.svg-icon.down-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.svg-icon.up-arrow {
  z-index: 9;
  position: fixed;
  bottom: 4em;
  right: 2em;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
}

.svg-icon.up-arrow.display {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

@media (hover: hover) {
  .svg-icon:hover {
    fill: #ffc618;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  border-bottom: 5px solid #525252;
}

section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

section > * {
  z-index: 2;
}

section h1 {
  font-size: 239px;
}

@media screen and (max-width: 1000px) {
  section h1 {
    font-size: 20vw;
  }
}

section h2 {
  font-size: 37px;
}

@media screen and (max-width: 1000px) {
  section h2 {
    font-size: 5vw;
  }
}

section .section-wrapper {
  width: 100%;
  min-height: 768px;
  max-width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1em;
}

#hero {
  background-image: url("../assets/pexels-cottonbro-4778621.jpg");
}

#hero::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc51854), to(#ffffff00));
  background: linear-gradient(#ffc51854, #ffffff00);
}

#hero .section-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

#hero .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1em;
}

#hero .hero-buttons img {
  width: 25vw;
  max-width: 120px;
}

#hero .hero-buttons button {
  background-color: #a8aaa9;
  width: 100%;
  margin-left: 2em;
  max-width: 232px;
  padding: 1em;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-family: "Arial Rounded MT Bold";
}

@media (hover: hover) {
  #hero .hero-buttons button:hover {
    background-color: #ffc618;
  }
}

#hero .main-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .main-titles h1,
#hero .main-titles h2 {
  -webkit-filter: drop-shadow(0px 10px 20px #22222255);
          filter: drop-shadow(0px 10px 20px #22222255);
}

#hero #go-down {
  margin-bottom: 2em;
}

#hero #go-down svg {
  width: 3em;
}

#pitch {
  background-image: url("../assets/pexels-tima-miroshnichenko-5453911.jpg");
}

#pitch::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#55555588), to(#4e4835cc));
  background: linear-gradient(#55555588, #4e4835cc);
}

#pitch h2 {
  margin: 4em 0 1em 0;
}

#pitch .pitch-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em 0;
}

#pitch .pitch-images img {
  width: 32%;
  max-width: 400px;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 10px 20px #22222255);
          filter: drop-shadow(0px 10px 20px #22222255);
}

#pitch p {
  margin: 1em 0;
  max-width: 600px;
}

@media screen and (max-width: 1000px) {
  #pitch p {
    max-width: 70vw;
  }
}

#pitch p:last-of-type {
  margin-bottom: 2em;
}

#credits {
  background-image: url("../assets/pexels-fauxels-3184193.jpg");
}

#credits::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#55555588), to(#4e4835cc));
  background: linear-gradient(#55555588, #4e4835cc);
}

#credits .section-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#credits .section-wrapper h2 {
  margin: 2em;
}

#credits .youtube-embed {
  max-width: 80%;
  -webkit-filter: drop-shadow(0px 10px 20px #22222255);
          filter: drop-shadow(0px 10px 20px #22222255);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a8aaa9cd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
}

.navbar.menu-toggle-open {
  background-color: #a8aaa9;
}

.navbar.display {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.navbar nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1em;
  width: 100%;
  max-width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  position: relative;
}

.navbar nav h1 {
  font-size: 31px;
}

.navbar nav #nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  max-width: 598px;
  width: 100%;
}

@media (hover: hover) {
  .navbar nav #nav-menu a:hover {
    color: #ffc618;
  }
}

@media screen and (max-width: 800px) {
  .navbar nav #nav-menu {
    max-height: 0px;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    background-color: #a8aaa9cd;
    max-width: none;
    pointer-events: none;
  }
  .navbar nav #nav-menu li {
    padding: 1em 0;
  }
  .navbar nav #nav-menu.menu-toggle-open {
    background-color: #a8aaa9;
    max-height: 40vh;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    pointer-events: all;
  }
}

.navbar nav #nav-menu button {
  border: 2px solid white;
  padding: 1em 3em;
  border-radius: 10px;
  text-transform: uppercase;
}

@media (hover: hover) {
  .navbar nav #nav-menu button:hover {
    background-color: #ffc618;
  }
}

.navbar #menu-toggle {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
  position: relative;
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .navbar #menu-toggle {
    display: none;
  }
}

.navbar #menu-toggle * {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar #menu-toggle:hover {
  background: rgba(255, 255, 255, 0.8);
}

.navbar #menu-toggle span {
  display: block;
  background: #566973;
  border-radius: 1px;
}

.navbar #menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}

.navbar #menu-toggle #hamburger span {
  width: 30px;
  height: 2px;
  position: relative;
  top: 12px;
  left: 10px;
  margin: 5px 0;
}

.navbar #menu-toggle #hamburger span:nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.navbar #menu-toggle #hamburger span:nth-child(2) {
  -webkit-transition-delay: 0.625s;
          transition-delay: 0.625s;
}

.navbar #menu-toggle #hamburger span:nth-child(3) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.navbar #menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar #menu-toggle #cross span:nth-child(1) {
  height: 0%;
  width: 2px;
  position: absolute;
  top: 10%;
  left: 24px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navbar #menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 2px;
  position: absolute;
  left: 10%;
  top: 24px;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.navbar #menu-toggle.open #hamburger span {
  width: 0%;
}

.navbar #menu-toggle.open #hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navbar #menu-toggle.open #hamburger span:nth-child(2) {
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

.navbar #menu-toggle.open #hamburger span:nth-child(3) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.navbar #menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  -webkit-transition-delay: 0.625s;
          transition-delay: 0.625s;
}

.navbar #menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1366px;
  height: 100%;
}

footer .main-footer {
  background-color: #ffc618;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .main-footer .footer-wrapper {
  padding: 3em 1em 2em;
}

@media screen and (max-width: 1100px) {
  footer .main-footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .main-footer .footer-wrapper .map {
    margin-top: 2em;
  }
}

footer .main-footer .map {
  margin-right: 4vw;
}

footer .main-footer .map .icon-credits {
  font-size: 10px;
  color: #999;
}

footer .main-footer .map .google-map-embed {
  width: 80vw;
  max-width: 700px;
  margin: 1em 0;
}

footer .main-footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  footer .main-footer .links {
    margin-bottom: 1em;
    width: 100%;
  }
}

footer .main-footer .links .footer-nav li h3 {
  margin-bottom: 0.5em;
}

footer .main-footer .links .footer-nav li:nth-child(n + 2) {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #a8aaa9;
  color: white;
}

footer .footer-bottom span {
  font-size: 14px;
}

footer .footer-bottom .footer-wrapper {
  padding: 0 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom .footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 136px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bottom .footer-social-links .svg-icon {
  width: 20px;
}
/*# sourceMappingURL=style.css.map */